<div class="container">
  <div class="section">
    <h4>Agencies</h4>
    <p><%= @metadatum.agency %></p>
  </div>
  <div class="section">
    <h4>Rationale</h4>
    <%= @metadatum.rationale %>
  </div>
  <div class="section">
    <h4>Status</h4>
    <%= @metadatum.status %>
  </div>
</div>
