@media only screen and (min-width: 600px) {
  .card {
    margin-top: 150px;
  }
  .login_form {
    margin-top: 140px;
  }
}

@media only screen and (width: 1024px) {
  .navbar-nav {
    margin-left: 300px;
  }
}
@media only screen and (min-width: 1025px) {
  .navbar-nav {
    margin-left: 700px;
  }
}

@media only screen and (max-width: 450px) {
  .btn-dashboard {
      margin-left: 20px;
  }
}
