
.dashboard-cards {
  width: 100%;
}

.dashboard-cards {
  .policy-card {
    width: 100%;
    align-items: center;
    background-color:#383E45;
    color: white;
  }


}
.dashboard-cards{
  .statistics-card {
    width: 100%;
    align-items: center;
    background-color: #383E45;
    color: white ;
  }
}
