// Specific CSS for your home-page

body, h6, p {
  color: #4e4a47
}

h1{
  font-size: 28px
}

.home .login_form {
  background: white;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 0px;
  border-radius: 6px;
  background-color: #f8f9fa;
  text-align: left;
  font-weight: bold;
  color:#4e4a47
}

.home .form-group {
  display: block;
}

.home .login-form-header h2{
  text-align: center;
}

.home-page-title-text {
  width:60%;
  margin-right: 10%
}

.home-pg-conditional{
  width: 30%
}

.card {
  width: 100%;
  border: none;
  color: black;
  position: relative;
  text-align:center;
}

.card-category {
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  font-weight: lighter;
  position: relative;
   top: 50%;
}

.home .card-description p {
  font-size: large;
  font-weight: lighter;
  letter-spacing: 0.2px;
}

.home .card-description h1{
  font-size:2.5rem
}

.row {
  display: flex;
  justify-content: center;
}

.btn-content {
  display:flex;
  justify-content: center;
}

.get-started-button {
  max-height: 50px;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.get-started-button:hover {
  text-decoration: none !important;
  color: white;
}


.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

label, input{
  font-size: large;
}

.introductory-section p{
  font-size: large
}

input::placeholder{
  font-size: 14px
}

.flex-responsive{
  display: flex;
  justify-content: space-between
}

@media only screen and (max-width: 600px) {
  .flex-responsive{
    display: block
  }
  .home-page-title-text{
    width: 100%;
    text-align: center
  }
  .signup-input{
    margin-bottom: 1%;
  }

  input.signup-input{
    margin:10px
  }
}

