// Specific CSS for your home-page



.card {
  width: 100%;
  border: none;
  color: black;
  position: relative;
  text-align:center;
}

.card-category {
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  font-weight: lighter;
}

.home .card-description p {
  font-size: 23px;
  font-weight: lighter;
  letter-spacing: 0.2px;
}

.row {
  display: flex;
  justify-content: center;
}

.btn-content {
  display:flex;
  justify-content: center;
}

.get-started-button {
  max-height: 50px;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.get-started-button:hover {
  text-decoration: none !important;
  color: white;
}


.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
