
#start {
  text-decoration: none;
  color: green;
}

#instructions {
  font-size: 24px;
  margin: 35px 0px;
}

.new-consultation {
  margin-bottom: 35px;
}

.abstract-text {
  padding: 15px;
  text-align: left;
  background-color: #f8f9fa;
  margin-bottom: 15px;
  font-size: 18px;
}

.navigation-btns {
  display:flex;
 justify-content: center;

 button {
  margin: 10px;
 }
}

#how-it-works ul {
  list-style-type: none;
  font-size: 24px;
  li {
    margin: 10px 0px;
  }
}

#thank-you p {
  font-size: 24px;
}
