
#start {
  text-decoration: none;
  color: green;
}

.instruction-slide-through {
  font-size: 24px;
  margin: 45px 0px;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

#backbutton {
  background: none;
  border: none;
  justify-content: space-between;
}

#nextbutton {
  background: none;
  border: none;
  justify-content: space-between;
}

.new-consultation {
  background: none;
  border: none;
}

.navigation-btns {
  display:flex;
 justify-content: center;
}
