
#start {
  text-decoration: none;
  color: green;
}

#instructions {
  font-size: 24px;
}

.new-consultation {
  min-height: 100vh
}

.abstract-text {
  padding: 15px;
  text-align: left;
  background-color: #f8f9fa;
  margin-bottom: 15px;
  font-size: 18px;
}

.navigation-btns {
  display:flex;
 justify-content: center;

 button {
  margin: 10px;
 }
}

#how-it-works ul {
  list-style-type: none;
  font-size: 24px;
  li {
    margin: 10px 0px;
  }
}

#thank-you p {
  font-size: 24px;
}

.intro-cards{
  width: 70%;
  margin: 6% auto;
}
@media only screen and (max-width: 600px) {

  #instructions{
    font-size: medium
  }

  #how-it-works{
    padding-right: 5%
  }

  .intro-cards{
    width: 85%
  }
}
