#consultation_panel {
  background: white;
  // height: 100vh;
}

.legislationshow h1{
  font-size: 2.5rem
}

.align-left{
  text-align: left
}

.doc-header {
  margin-bottom: 35px;
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  border-radius: 10px;
}

.im-finished {
  display: inline-block;
}

.jumbotron {
    margin-bottom: 0rem;
}

.title {
  .display-4 {
    font-size: 2.5rem;
  }
}

.title-info h3{
  font-size: 1.8rem
}

.popover:hover {
  max-width: 1000px;
}

.popover-body:hover {
  // font-size: 14px;

  // ol {
  //   padding-left: 18px;
  // }
}

// #accordion .card {
//   border-radius: 0rem;
//   text-align: left;
//   margin-top: 0rem;
//   font-weight: lighter;
// }

.badge li {
  font-size: 12px;
}

#accordion h5{
  font-size: 1.3rem;
}

#accordion h6{
    font-size: 1.15rem;
  }

#accordion p{
    font-size: 16px
  }


#accordion .card {
    text-align: left;
    margin-top: 0rem;
    font-weight: lighter;
    width: 100%;
    color: black;
    position: relative;
    border-style: solid;
    border-width: .5px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

#accordion .card:hover {
  border-color: $blue;
  border-width: 3px;
}


.legislationshow {
  margin-top: 100px;
  .display-4 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

.finished .btn-lg {
  margin: 15px;
}

.button-nav .btn-lg {
  width: 15%;
  margin: 0px 10px;
  justify-content: flex-start;
  text-align: center;
}


#accordion .form-control {
  border: 1px solid #ced4da;
}

#supporting-content {
  justify-content: flex-start;
  margin-left: -15px;
  // margin-top: 10px;
  margin-right: 0px;
}


#supporting-content .col-6 {
    padding-right: 15px;
    padding-left: 0px;
}

#supporting-content a {
  font-weight: 700;
}

.success-badges {
  margin-left: 15px;
}

.card-header {
  background-color: #ffffff;
  padding: 1rem .5rem;
  border-bottom:.5px solid rgba(0, 0, 0, 0.125);
  a {
    font-weight: lighter;
  }
}

// .card-header:hover {
//   color: green;
// }

.scrollable {
    height: 100vh; /* or any value */
    overflow-y: auto;
}

.slide {
  display: none;
}

.slide.slide--current {
  display: block;
}

.collapse .form-control {
  margin: 14px 0px;
  width: 100%;
}

.feedback .form-control {
  margin: 14px 0px;
  width: 100%;
}

.sectionnav .dropdown {
  margin-bottom: 40px;
}

.buttonspacing {
  margin: 14px 0px;
}

.clause {
  text-align: left;
}

.finished {
  margin: 20px 0px;
  text-align: center;
}

.onesectionnav {
  justify-content: space-evenly;
  margin: 20px 0px;
  font-weight: 800;
}

.panel{
  justify-content: space-between;
  align-items: center;
}

.sectionnav {
  align-items: center;
}

.flex{
  display: flex
}

.flex-child{
  justify-content: space-between
}

.card{
  padding-top: 0px !important
}

// .card-header{
//   padding-top: 0px !important
// }

.p-2{
  padding: 6px !important
}

.popover{
  max-width: 800px
}

.badges {
  margin-top: 10px;
  max-width: 100px
}

.margin-top-btm-25{
  margin-top: 25px;
  margin-bottom: 25px
}

.font-12{
  font-size: 12px
}

.badge-padding{
  padding: 8px 12px;
}

button{
  border:none;
}

@media only screen and (max-width: 600px) {

  .title .jumbotron {
    padding: 0;
}
    .clause {
        font-size: 1rem;
    }
}
