.feedback .form-control {
  margin: 14px 0px;
  border: 1px solid #ced4da;
}

.centering {
  height: 80vh;
  width: 70vw;
  margin: auto;
  margin-top: auto;
  padding-top: 96px;
  margin-top: 15%;
}
