<div class="container" data-controller="instruction">

  <div class="page-header">
    <h1>Welcome<small>to your policy consultation</small></h1>
  </div>
  <div class="instruction-slide-through">
    <p id ="instructions">The vision intends to create a unifying policy vision for transforming [COUNTRY] economy and accelerating economic growth. The vision is composed of four chapters, and you are invited to comment on specific policy recommendations, on chapters, on the introduction and on the entire policy.</p>
  </div>

  <button id = "backbutton" data-action="click->instruction#toggleBack">Back</button>
  <button id= "nextbutton" data-action="click->instruction#toggleForward">Next</button>

  <%= simple_form_for [@legislation, @consultation] do |f| %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.submit "Start your consultation" %>
  <% end %>

</div>
