<h1>New Consultation</h1>

<p>Here is how it works</p>

<p>Your participation matters, please allow between 30 - 60 minutes for completion. If you would like to be reminded to complete this at a better time, please provide when you would like receive a reminder.</p>

<p>The vision intends to create a unifying policy vision for transforming [COUNTRY] economy and accelerating economic growth. The vision is composed of four chapters, and you are invited to comment on specific policy recommendations, on chapters, on the introduction and on the entire policy.</p>

<p>Click on anything you would like to comment on.  If you like something, please let us know. If you think we can improve anything to support innovation, entrepreneurship or ICT developmemt, please let us know how.</p>

<%= render 'form', consultation: @consultation %>

<%= link_to 'Back', consultations_path %>
