

<div class="container new-consultation" data-controller="instruction">
  <div class="row">
    <div class="col-lg-10 col-xs-12 col-sm-12">
      <div class="card" >
        <div class="card-description">

<!-- instruciton 1 -->

          <div data-controller="slideshow" id="instructions">

            <div data-target="slideshow.slide" class="slide introductory-section" id="first">
              <div id="welcome" data-target='slideshow.welcome'>
                <div class="page-header">
                  <h4>Bienvenido a tu plataforma de consulta ciudadana</h4>
                </div>
                <p>La idea es que todos podamos contribuir nuestras opiniones e ideas sobre como debe lucir el documento mas importante de la rep煤blica: la Constituci贸n.</p>
              </div>
            </div>

<!-- instruciton 2 -->
            <div data-target="slideshow.slide" class="slide introductory-section" id="second">
               <div id="how-it-works" style="">
                <h4>驴C贸mo funciona?</h4>
                <ol class='align-left'>
                  <li>
                    <p><strong>Haz "click"</strong> en el art铆culo que te interesa comentar.</p>
                  </li>
                  <li>
                    <p><strong>Responde</strong> las preguntas utilizando la escala del 1 al 5 (donde 1 es "no me gusta en absoluto" y 5 "estoy absolutamente de acuerdo").</p>
                  </li>
                  <li>
                    <p><strong>Sugiere</strong> los cambios que consideres necesarios.</p>
                  </li>
                  <hr>
                  <li style='list-style: none; text-align: justify;' class='align-left'>
                    <p>Toma en cuenta que para leer los <strong>art铆culos modificados</strong> s贸lo debes pasar el cursor sobre el bot贸n <span class="badge badge-danger">MODIFICADO</span>. Al hacerlo, se abrir谩 una ventana con el contenido propuesto por la <strong>Concertaci贸n Nacional para el Desarrollo</strong>.</p>
                  </li>
                </ol>
                <p style="font-size: 14px;"><strong>Nota:</strong> Si lo deseas, puedes bajar el PDF del texto <a href="../download_pdf" style='font-weight: bold'target="_blank">aqu铆</a>.</p>
              </div>
            </div>

<!-- instruciton 3 -->
            <div data-target="slideshow.slide" class="slide introductory-section">
              <div id="scale" style="">
                <h4>Cuando veas esta escala, toma en cuenta que:</h4>
                  <p>1 = <strong>no me gusta en absoluto</strong> </p>
                  <p>5 = <strong>estoy absolutamente de acuerdo</strong> </p>
                </div>
              </div>

              <div data-target="slideshow.slide" class="slide introductory-section" id="third">
                <div id="own-pace" style="">
                  <h4>Lee el documento a tu propio ritmo</h4>
                  <p>No hay ningun requerimiento de participaci贸n. Todos est谩n invitados a colaborar y a leer y comentar todas las veces que quieran. Cualquier idea es aceptada para mejorar el pa铆s.</p>
                  <p>Has "click" en <button class="btn btn-primary">terminar la Consulta</button> cuando termines de leer el texto.</p>
                </div>
              </div>

<!-- instruciton 4 -->
              <div data-target="slideshow.slide" class="slide introductory-section" id="last">
                <div id="abstract" style="">
                  <h4>Abstracto</h4>
                  <div class="abstract-text">
                    <p>El <strong>Consejo de la Concertaci贸n Nacional para el Desarrollo</strong>, creado mendiante <strong>Ley 20 de 2008</strong>, aprob贸 un paquete de "reformas constitucionales" que present贸 a la consideraci贸n del Consejo de Gabinete. El documento fue aprobado, sin modificaciones, por el rgano Ejecutivo, que a su vez autoriz贸 al ministro de la Presidencia a presentarlo ante la Asamblea Nacional de Diputados. </p>
                    <p>Este rgano del Estado lo acogi贸 para darle el tr谩mite correspondiente, de conformidad con el art铆culo 313.2 de la Constituci贸n Nacional sobre reformas constitucionales.</p>
                    <p>La <strong>Comisi贸n de Gobierno, Justicia y Asuntos Constitucionales de la Asamblea Nacional</strong> decidi贸 realizar una gira de consultas ciudadanas a nivel nacional para escuchar las sugerencias de la poblaci贸n, a fin de evaluar su viabilidad y posterior incorporaci贸n al documento definitivo que ser谩 discutido en tres debates en el pleno parlamentario durante 茅ste y el pr贸ximo periodo que <strong>culmina en abril de 2020</strong>.</p>
                    <p>Los diputados de la <strong>bancada independiente</strong> queremos que los ciudadanos conozcan y den sus opiniones sobre este pliego de reformas, previo al refer茅ndum en el cual los ciudadanos emitir谩n su decisi贸n final.</p>
                  </div>
                </div>

                <div id="start">
                  <%= simple_form_for [@legislation, @consultation] do |f| %>
                  <%= f.input :user_id, as: :hidden %>
                  <%= f.submit "empieza mi consulta", class: "new-consultation btn btn-primary" %>
                  <% end %>
                </div>
              </div>

              <div class="navigation-btns">
                <button id ="backbutton" class="btn btn-outline-primary" data-action="slideshow#previous slideshow#showButton" style='display: none'>atr谩s</button>
                <button id= "nextbutton" class="btn btn-outline-primary" data-action="slideshow#next slideshow#showButton">adelante</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

