<div class="container" data-controller="instruction">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-12">
      <div class="card" >
        <div class="card-description">
          <div class="page-header">
            <h2>Welcome<small> to your policy consultation</small></h2>
          </div>
          <div class="instruction-slide-through">
            <p id ="instructions">The vision intends to create a unifying policy vision for transforming Nigeria's economy and accelerating economic growth. The vision is composed of four chapters, and you are invited to comment on specific policy recommendations, on chapters, on the introduction and on the entire policy.</p>
          </div>

          <div id="start" style="display: none;">
            <%= simple_form_for [@legislation, @consultation] do |f| %>
              <%= f.input :user_id, as: :hidden %>
              <%= f.submit "Start your consultation", class: "new-consultation btn-lg btn-primary" %>
            <% end %>
          </div>

          <div class="navigation-btns">
            <button id = "backbutton" style="display: none;" data-action="click->instruction#toggleBack">Back</button>
            <button id= "nextbutton" data-action="click->instruction#toggleForward">Next</button>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>

