

<div class="container new-consultation" data-controller="instruction">
  <div class="row">
    <div class="col-lg-10 col-xs-12 col-sm-12">
      <div class="card" >
        <div class="card-description">

<!-- instruciton 1 -->

          <div data-controller="slideshow" id="instructions">

            <div data-target="slideshow.slide" class="slide" id="first">
              <div id="welcome">
                <div class="page-header">
                  <h2>Bienvenido a tu plataforma de consulta ciudadana</h2>
                </div>
                <p>La idea es que todos podamos contribuir nuestras opiniones e ideas sobre como debe lucir el documento mas importante de la república: la Constitución.</p>
              </div>
            </div>

<!-- instruciton 2 -->
            <div data-target="slideshow.slide" class="slide" id="second">
               <div id="how-it-works" style="">
                <h2>Cómo funciona?</h2>
                <ul style="list-style-type: none;">
                  <li>
                    <strong>Click</strong> en el artículo que te interesa
                  </li>
                  <li>
                    <strong>Responde</strong> las preguntas utilizando la escala del 1 al 5
                  </li>
                  <li>
                    <strong>Sugiere</strong> revisiones
                  </li>
                </ul>
                <p style="font-size: 14px;"><strong>Nota:</strong> Puedes bajar el PDF del texto aquí si así lo deseas</p>
              </div>
            </div>

<!-- instruciton 3 -->
            <div data-target="slideshow.slide" class="slide">
              <div id="scale" style="">
                <h2>Escala del 1 al 5</h2>
                <p>Cuando veas esta escala, toma en cuenta que </p>
                  <p>1 = <strong>para nada</strong></p>
                  <p>5 = <strong>mucho</strong></p>
                </div>
              </div>

              <div data-target="slideshow.slide" class="slide" id="third">
                <div id="own-pace" style="">
                  <h2>Ve a tu propio paso</h2>
                  <p>No hay ningun requerimiento de participacion, puedes volver cuantas veces quieras. Cualquier idea es aceptada para mejorar al pais.</p>
                  <p>Click en <button class="btn btn-primary">Terminar la Consulta</button> cuando termines de leer el texto.</p>
                </div>
              </div>

<!-- instruciton 4 -->
              <div data-target="slideshow.slide" class="slide" id="last">
                <div id="abstract" style="">
                  <h2>Abstracto</h2>
                  <div class="abstract-text">
                    <p>
                      Por muchos anos hemos tenido una Constitucion que data a cuando el General Omar Torrijos estaba en poder. <br>
                      Hoy en dia esa Constitucion ya no nos sirve para el mundo en el que estamos. Es por eso que tantos actores de la sociedad civil han demostrado querer cambiarla. <br>
                      Este docuemnto que veran a continuacion es parte del esfuerzo creado por la Concertacion Nacional creada el año pasado por actores de toda la sociedad civil, gobierno, y organizaciones pertinentes.
                    </p>
                  </div>
                </div>

                <div id="start" style="">
                  <%= simple_form_for [@legislation, @consultation] do |f| %>
                  <%= f.input :user_id, as: :hidden %>
                  <%= f.submit "Empieza mi Consulta", class: "new-consultation btn-lg btn-primary" %>
                  <% end %>
                </div>
              </div>

              <div class="navigation-btns">
                <button id ="backbutton" class="btn btn-outline-primary" style="display: none;" data-action="slideshow#previous slideshow#showButton">Atrás</button>
                <button id= "nextbutton" class="btn btn-outline-primary" data-action="slideshow#next slideshow#showButton">Adelante</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

