<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-8">
      <div class="card">
        <div class="card-description">
          <div class="page-header" id="thank-you">
            <h2>Thank you,</h2>
              <p>your consultation on <strong><%= @consultation.legislation.title %></strong> will help contribute to the future our nation!</p>
              <p>Please share your pariticpation on social media.</p>
              <%= social_share_button_tag("I just took part in the consultation for the Nigeria ICT Innovation and Entrepreneurship Vision!", :url => "policy-pulse-nigeria.herokuapp.com", desc: @consultation.legislation.title) %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
