<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-8">
      <div class="card">
        <div class="card-description">
          <div class="page-header" id="thank-you">
            <h1>Thank you<small> for your participation</small></h1>
              <p>Your consultation on <strong><%= @consultation.legislation.title %></strong>, you have just helped contribute to the future of the nation by providing your input on this amazing proposed poilicy.</p>
              <p>Please share your pariticpation on social media.</p>
              <%= social_share_button_tag(@consultation.user) %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
