<div class="container"  data-controller="hello">

  <div class="home-content">
    <p id="notice"><%= notice %>Thank you for your consultation on <%= @consultation.legislation.title %></p>
    <p>share on facebook</p>

    <%= link_to 'Home', root_path %>
  </div>
</div>
