<div class="container">
  <div class="page-header">
    <h1>thank you<small>for your participation</small></h1>
    <p>Your consultation on <strong><%= @consultation.legislation.title %></strong>, you have just helped contribute to the future of the nation by providing your input on this amazing proposed poilicy.</p>
    <p>Share your pariticpation on social media.</p>
    <%= social_share_button_tag(@consultation.user) %>
  </div>

</div>
