<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-8">
      <div class="card">
        <div class="card-description">
          <div class="page-header" id="thank-you">
            <h2>Gracias,</h2>
              <p>tus comentarios sobre <strong><%= @consultation.legislation.title %></strong> nos ayudaran a crear un futuro mas equitativo para el pais!</p>
              <p>Comparte en redes sociales para que más gente pueda aportar!</p>
              <%= social_share_button_tag("I just took part in the consultation for the Nigeria ICT Innovation and Entrepreneurship Vision!", :url => "policy-pulse-nigeria.herokuapp.com", desc: @consultation.legislation.title) %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
