<div class="container">

  <div class="home-content">
    <p id="notice"><%= notice %>Thank you for your consultation on <%= @consultation.legislation.title %></p>
    <p>share on facebook</p>

    <%= link_to 'Back', edit_consultation_path(@consultation) %> |
    <%= link_to 'Home', root_path %>
  </div>
</div>
