<div class="container home">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-10">
      <div class="card">
        <div class="card-description align-left">
          <h3>Antes de irte...</h3>
          <p class="lead">Este es tu espacio de consulta ciudadana. ¿Tienes alguna idea o sugerencia adicional que quieras compartir? ¡Tu opinión cuenta! </p>

          <div class="form-group feedback">
            <%= simple_form_for [@consultation, @general_feedback] do |f| %>
            <%= f.text_area :content, :rows => 5, :class => 'form-control' %>
            <%= f.submit "terminar la consulta", :class => 'btn-primary text-white' %>
            <% end %>
          </div>
          <%= link_to 'vuelve a la consulta', legislation_path(@consultation.legislation) %>
        </div>
      </div>
    </div>
  </div>
</div>
