<p class='align-left'><%= raw article.spaced_content %></p>
  <ol>
    <% article.subarticles.select{ |sa| sa.number < 2000 }.sort_by{ |sa| sa.number }.each do |subarticle|  %>
    <li>
      <p class='align-left'><%= raw subarticle.spaced_content %></p>
      <% if subarticle.subsubarticles.exists? %>
      <ol type='a'>
        <% subarticle.subsubarticles.order(number: :asc).each do |subsubarticle| %>
        <li>
          <p class='align-left'><%= raw subsubarticle.spaced_content %></p>
        </li>
        <% end %>
      </ol>
      <% end %>
    </li>
    <% end %>
  </ol>
  <% article.subarticles.select{ |sa| sa.number >= 2000 }.sort_by{ |sa| sa.number }.each do |subarticle|  %>
    <p class='align-left'><%= raw subarticle.spaced_content %></p>
  <% end %>
