<ol>
  <li>
    <strong>Haz click</strong> en el artículo que te interesa comentar
  </li>
  <li>
    <strong>Responde</strong> las preguntas
  </li>
  <li>
    <strong>Sugiere</strong> revisiones
  </li>
</ol>
