<ol>
  <li>
    <strong>Haz clic</strong> en el artículo que te interesa comentar
  </li>
  <li>
    <strong>Responde</strong> las preguntas utilizando la escala del 1 al 5
  </li>
  <li>
    <strong>Sugiere y envía</strong> todos los cambios que consideres necesarios
  </li>
<li>
    <p><strong>Y recuerda:</strong></p>
    <p>- Si el artículo no lleva nada, significa que se mantiene igual como en la Constitución actual.</p>
    <p>- Si el artículo lleva <button class='badge badge-info text-white badge-padding' disabled>NUEVO</button>, significa que es un Artículo creado por la Concertación que se reunió en el 2018 y sería agregado como <strong>nuevo</strong>.</p>
    <p>- Si el artículo lleva <button type='button' class='badge badge-danger text-white badge-padding align-left'>MODIFICACIÓN PROPUESTA</button>, significa que el grupo de la Concertación propuso esta modificación al documento actual.</p>
  </li>
</ol>
