<ol>
  <li>Click on a vision statement</li>
  <li>Answer questions using 1 to 5 scale</li>
  <li>Provide a revision if you feel compelled</li>
  <li>Click 'Complete' when you finish your entire consultation</li>
</ol>

<!-- Click on any vision statement and answer questions using 1 to 5 scale; you then have the opportunity to suggest a revision. When you are finished with your consultation, click the 'Finish My Consultation' button.  -->

<!-- 1. Click on a vision statement
2. Answer questions using 1 to 5 scale
3. Provide a revision if you feel compelled
4. Click 'Complete' when you finish your entire consultation -->
