<ol>
  <li>
    <strong>Haz clic</strong> en el artículo que te interesa comentar
  </li>
  <li>
    <strong>Responde</strong> las preguntas utilizando la escala del 1 al 5
  </li>
  <li>
    <strong>Sugiere y envía</strong> todos los cambios que consideres necesarios
  </li>
</ol>
