<!-- <ol>
  <li>Click on any vision statement</li>
  <li>Answer questions using 1 to 5 scale</li>
  <li>Suggest a revision if you want to</li>
  <li>Click <strong>Finish Consultation</strong> on last page to complete entire consultation</li>
</ol>
<p><strong>Note:</strong> You can reference PDF for expanded information on each vision statement</p>


 -->
<ol>
  <li>
    <strong>Click</strong> en el artículo que te interesa
  </li>
  <li>
    <strong>Responde</strong> las preguntas utilizando la escala del 1 al 5
  </li>
  <li>
    <strong>Sugiere</strong> revisiones
  </li>
</ol>
