  <p>
    The National Information Technology Development Agency (NITDA) was established in 2001 to regulate the IT sector in general. Section 6 (i & l) of the NITDA act empowers it to make policy recommendations to develop technology in Nigeria. To foster the growth of the technology ecosystem, NITDA created its subsidiary, Office for ICT Innovation and Entrepreneurship (OIIE) to drive the innovation and entrepreneurship mandate of the agency.
  </p>
  <p>
    The mandates for the establishment of OIIE include: develop, establish, support and incentivise ICT innovation hubs, information technology parks and community enterprise hubs across Nigeria; and, collaborate with private sector, development partners and MDAs at both federal and state levels on policies and programs that support ICT entrepreneurship and commercialisation.
  </p>
  <p>
    NITDA through OIIE has been listening to stakeholders and as a result, there is a need to reposition as agile facilitators to create an enabling environment for technology entrepreneurship to thrive. In this regard, NITDA plans to influence government policies by sharing findings from stakeholder engagements and research findings from similar markets to Nigeria.
  </p>
  <p>
    This document, the Nigeria ICT Innovation and Entrepreneurship Vision (NIIEV), comprises policy recommendations and incentives designed to strengthen the Nigerian technology entrepreneurship ecosystem. It consists of the following sections: Digital Infrastructure; Education Reform, Skills Development and R&D; and, Supporting the Ecosystem for Innovative Entrepreneurship. The document is also accompanied with an information note that provides additional background information on each vision statement.
  </p>
