<p class='align-left padding-left-0'><%= raw metadata.spaced_content %></p>
<ol>
  <% metadata.metadatum_subarticles.order(number: :asc).each do |subarticle| %>
    <li>
      <p class='align-left'><%= raw subarticle.content %></p>
    </li>
  <% end %>
</ol>
