<!-- <div data-target="answerslideshow.answerslide" class="slide">
 <%#= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
    <%#= f.hidden_field :user_id, :value => current_user.id  %>
    <%#= f.hidden_field :question_id, :value => question.id  %>
    <%#= f.select(:content, [["Bum"],["Dum"]], {}, {:multiple => true}) %>
    <button data-action="slideshow#next answerslideshow#next"><%#= f.submit %></button>
  <%# end %>
</div>

 <div data-target="answerslideshow.answerslide" class="slide">
  <%#= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
    <%#= f.hidden_field :user_id, :value => current_user.id  %>
    <%#= f.hidden_field :question_id, :value => question.id  %>
    <%#= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %>
    <button data-action="slideshow#next answerslideshow#next"><%#= f.submit %></button>
  <%# end %>
</div>
 -->
