<p id="notice"><%= notice %></p>
<div class="container">

  <div id="toc" class="col-lg-3">
    <p>table of contents</p>
  </div>

  <div id="document" class="col-lg-6">
    <h1><%= @legislation.title %></h1>
    <% @legislation.sections.each do |section| %>
      <h3><%= section.title %></h3>
        <% section.clauses.each do |clause| %>
          <p><%=  link_to clause.content, question_path(1) %></p>
        <% end %>
    <% end %>
  </div>

  <div id="consultation_panel" class="col-lg-3">

  </div>

</div>


<%#= link_to 'Edit', edit_legislation_path(@legislation) %> |
<%#= link_to 'Back', legislations_path %>
