<div class="container">
  <div class="row">
    <div class="dashboard-cards">


      <div class="col-xs-12 col-lg-12 col-sm-4">
        <div class="card welcome-card">

          <h3><strong>Welcome,</strong></h3>
          <p>to your Policy Consultation Dashboard</p>
          <%= link_to "See Database", admin_root_path, class:"h3" %>
        </div>
      </div>

      <div class="col-xs-12 col-lg-12 col-sm-4">
        <div class="card policy-card">

          <h3><strong>Policy</strong></h3>
          <!-- Dropdown Section -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pick a Section
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Section 1</button>
              <button class="dropdown-item" type="button">Section 2</button>
              <button class="dropdown-item" type="button">Section 3</button>
              <%# @sections.each do |section| %>
              <%#= section.title %>
              <%# end %>
            </div>
          </div>
          <p>Mandate infrastructure sharing to achieve the economies of scale necessary for universal affordable access. No longer an optional recommendation, Government will support private sector providers to merge their infrastructure.</p>
        </div>
      </div>

        <div class="col-xs-12 col-lg-12 col-sm-4">
          <div class="card statistics-card">

          <h3><strong>Deliberated</strong></h3>
            <!-- Dynamic # of interactions -->
          <p> x interactions</p>

          <h3><strong>Representation</strong></h3>
            <!-- Dynamic # of answers -->
          <p> x answers</p>
          <p>Do you feel like this represents your views?</p>
            <!-- Dynamicly display # of 'Yes' Ansers in % - based on total amount of answers -->
          <p> x %</p>

          <h3><strong>Goal Driven</strong></h3>
            <!-- Dynamic # of answers -->
          <p> x answers</p>
          <p>Does this move toward the goal of ICT innovation? </p>
            <!-- Dynamicly display # of 'Yes' Ansers in % - based on total amount of answers -->
          <p> x %</p>

          <h3><strong>Revision</strong></h3>
            <!-- Dynamic # of revisions -->
          <p> x revisions</p>
          <p>Does this move toward the goal of ICT innovation? </p>
            <!-- Display a scrollable box with revisons for this paricular clause -->
            <%# @answers.each do |answer| %>
              <!--content(where question_id) -->
            <%# end  %>
          <p>most frequent words:</p>
            <!-- dynamically scan most words used in provided revisions per clause -->
        </div>
      </div>
    </div>
  </div>
</div>
