<div class="container">
  <h3><strong>Welcome</strong></h3>
  <p>to your Policy Consultation Dashboard</p>

  <%= link_to "See Database", admin_root_path, class:"h3" %>

  <div class="container">
    <h3><strong>Policy</strong></h3>
    <!-- Dropdown Section -->

    <!-- Dropdown Clause -->

    <!-- Display choosem Clause -->

  </div>


  <div class="container">
    <h3><strong>Deliberated</strong></h3>
    <!-- Dynamic # of intercations -->
    <p> x interactions</p>

    <h3><strong>Representation</strong></h3>
    <!-- Dynamic # of answers -->
    <p> x answers</p>
    <p>Do you feel like this represents your views?</p>
    <!-- Dynamicly display # of 'Yes' Ansers in % - based on total amount of answers -->
    <p> x %</p>

    <h3><strong>Goal Driven</strong></h3>
    <!-- Dynamic # of answers -->
    <p> x answers</p>
    <p>Does this move toward the goal of ICT innovation? </p>
    <!-- Dynamicly display # of 'Yes' Ansers in % - based on total amount of answers -->
    <p> x %</p>

    <h3><strong>Revision</strong></h3>
    <!-- Dynamic # of revisions -->
    <p> x revisions</p>
    <p>Does this move toward the goal of ICT innovation? </p>
    <!-- Display a scrollable box with revisons for this paricular clause -->
    <p>most frequent words:</p>
    <!-- dynamically scan most words used in provided revisions per clause -->
  </div>

</div>
