<div class="container">
  <div class="icon">
    <i class="fas fa-clipboard-check"></i>
  </div>
  <div class="home-content">
   <p id="notice"><%= notice %>Thank you for your consultation on <%= @consultation.legislation.title %></p>
   <p>Share to your networks:</p>
    <div class="social-media-share">
      <%= social_share_button_tag(@consultation.user) %>
    </div>
    <!--   <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a> -->
            <%#= social_share_button_tag('Share to Facebook', :url => legislation_consultation_path(@consultation), desc: @consultation.user) %>
  </div>
</div>
