<div class="container">

  <div class="home-content">
    <h3>Welcome to the Policy Consultation for the</h3>
    <h1>National ICT Innovation and Entrepreneurship Policy Vision</h1>
    <%= link_to 'Get Started', new_legislation_consultation_path(@legislation), :class => 'btn-treehouse' %>
    <h3>powered by NIDTA and i4Policy</h3>
  </div>

</div>
