<div class="container home">
  <div class="card">
    <div class="card-description flex-responsive">
      <div class="home-page-title-text align-left">
        <p><strong>Bienvenido a tu plataforma de consulta ciudadana para la</strong></p>
        <h1>Constitución de la República de Panamá</h1>
        <p>Los diputados de la bancada independiente hemos creado este espacio virtual de consulta ciudadana para que todos podamos compartir nuestras sugerencias para una nueva y mejor Constitución.</p>
      </div>
      <div class="text-center home-pg-conditional">
        <% if current_user.nil? %>
          <%= render 'signuphomepage' %>
        <% else %>
          <%= link_to "empecemos", new_legislation_consultation_path(@legislation), :class => 'btn btn-primary get-started-button text-white', :role => 'button' %>
          <p>
            Te invitamos a leer el documento completo. Anímate a contribuir con tus ideas y opiniones para que juntos demos forma a nuestra nueva Constitución.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
