<div class="container home">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-8">
      <div class="card">
          <div class="card-description">
            <p>Welcome to the  consultation for the</p>
            <h1>Nigeria ICT Innovation and Entrepreneurship Vision</h1>
            <%= link_to "Get started",  new_legislation_consultation_path(@legislation), :class => 'btn btn-lg btn-primary get-started-button', :role => 'button' %>
            <p>
              Nigeria ICT Innovation and Entrepreneurship Vision (NIIEV) is designed to strengthen the Nigerian technology entrepreneurship ecosystem, and we want your input to help co-create this national vision.
            </p>
          </div>

      </div>
    </div>
  </div>
</div>
