<div class="container">
  <h1>Welcome to the Policy Consultation</h1>

  <p><%= link_to 'Get Started', new_consultation_path %></p>
  <p><%= link_to 'Sign Up', new_user_registration_path %></p>
</div>
