<div class="container">
  <h1>Welcome to the Policy Consultation</h1>

  <p><%= link_to 'Start Consultation', legislation_path(1) %></p>
  <p><%= link_to 'Sign Up', new_user_registration_path %></p>
</div>
