
<div class="container">
  <div class="row">
        <div class="card text-center">
          <div class="card-body homepage-card">
            <h2 class="card-title">
              Welcome to the  consultation for the
            </h2>
            <h1 class="card-title">
              National ICT  Innovation and Entrepreneurship Policy Vision
            </h1>

              <%= link_to  new_legislation_consultation_path(@legislation), :class => 'btn btn-treehouse get-started-button', :role => 'button' do %>
                <p class="btn-content">get started</p>
              <% end %>

            <p class="card-text">
              Policies should govern based on people, your feedback is going to have a direct impact on the nation’s national strategy for innovation and entrepreneurship to shape Nigeria’s future.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
