.login_form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  width: 400px;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    text-align: left;
    font-size: 30px;
    font-weight: lighter !important;
    color: grey;
    margin-bottom: 15px;
  }
  .btn {
    margin-bottom: 20px
  }
}

.btn-login-custom {
  color: white;
  background-color: $blue !important;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.3s ease;
}
.btn-login-custom:hover {
  opacity: 1;
  // background: #3ac162;
  text-decoration: none;
  color: white;
}

.form-group {
}

.form-control {
  border: none;
   width: auto ;
}

.align-center{
  text-align: center
}

.margin-top-20{
  margin-top: 20px
}



