// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/media_queries";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "components/alert";
@import "pages/index";

@import "social-share-button";

.social-share-button {
  .ssb-icon {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    margin: 0px 3px;
  }
}
